<h1>heroes</h1>
<hr>

<div class="row">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/hero','new']"
            class="btn btn-outline-primary"
            type="button" name="button">
      Agregar héroe
    </button>
  </div>
</div>
<br>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Casa</th> 
            <th>Opciones</th>
          </tr>
        </thead>
          <tbody>
            <!-- este seria en caso de no usar pipe -->
            <!-- <tr *ngFor="let heroe of heroes; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{heroe.name}}</td>
              <td>{{heroe.home}}</td>
              <td>{{heroe.bio}}</td>             
            </tr>             -->
            <tr *ngFor="let k of heroes | key; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{heroes[k].name}}</td>
              <td>{{heroes[k].home}}</td>
              <td>{{heroes[k].bio}}</td> 
              <td>
                <button [routerLink]="['/hero', k ]"
                        class="btn btn-outline-success mr-2">
                  Editar
                </button>
                <button (click)="deleteHero( k )"
                        class="btn btn-outline-danger">
                  Eliminar
                </button>
              </td>            
            </tr>            
          </tbody>       
      </table>
      <div  *ngIf="(heroes | key ).length === 0 && !loading "
            class="alert alert-info">
        <strong>No hay </strong> registros que mostrar
      </div>
      <div  *ngIf="loading "
            class="alert alert-warning">
        <strong>Cargando... </strong> por favor espere
      </div>
    </div>
  </div>
</div>
